<div class="column">

    <h1>FOI request refused?</h1>
    <p>Find out what your options are.</p>

    <div class="wizard js-wizard">
        <div class="wizard__question wizard__question--current">
            <fieldset>
                <legend>
                    Did the authority mention any of these exemptions when refusing your request?
                </legend>
                <div class="wizard__options wizard__options--grid">
                    <div>
                        <input type="checkbox" id="refusal-reasons_section-1">
                        <label for="refusal-reasons_section-1">Section 1 / Regulation 1</label>
                    </div>
                    <div>
                        <input type="checkbox" id="refusal-reasons_section-2">
                        <label for="refusal-reasons_section-2">Section 2 / Regulation 2</label>
                    </div>
                    <div>
                        <input type="checkbox" id="refusal-reasons_section-5">
                        <label for="refusal-reasons_section-5">Section 5 / Regulation 5</label>
                    </div>
                    <div>
                        <input type="checkbox" id="refusal-reasons_section-8">
                        <label for="refusal-reasons_section-8">Section 8 / Regulation 8</label>
                    </div>
                    <div>
                        <input type="checkbox" id="refusal-reasons_section-12">
                        <label for="refusal-reasons_section-12">Section 12 / Regulation 12</label>
                    </div>
                    <div>
                        <input type="checkbox" id="refusal-reasons_section-14">
                        <label for="refusal-reasons_section-14">Section 14 / Regulation 14</label>
                    </div>
                    <div>
                        <input type="checkbox" id="refusal-reasons_section-16">
                        <label for="refusal-reasons_section-16">Section 16 / Regulation 16</label>
                    </div>
                    <div>
                        <input type="checkbox" id="refusal-reasons_section-17">
                        <label for="refusal-reasons_section-17">Section 17 / Regulation 17</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="wizard__question wizard__question--future">
            <fieldset>
                <legend>
                    Has the authority confirmed or denied whether they hold the information you have requested?
                </legend>
                <div class="wizard__options wizard__options--list">
                    <div>
                        <input type="radio" id="have-confirmation_yes" name="have-confirmation">
                        <label for="have-confirmation_yes">Yes</label>
                    </div>
                    <div>
                        <input type="radio" id="have-confirmation_no" name="have-confirmation">
                        <label for="have-confirmation_no">No</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="wizard__question wizard__question--future">
            <fieldset>
                <legend>
                    Have they stated that the cost of confirming or denying would exceed the appropriate limit?
                </legend>
                <div class="wizard__options wizard__options--list">
                    <div>
                        <input type="radio" id="is-confirmation-too-costly_yes" name="is-confirmation-too-costly">
                        <label for="is-confirmation-too-costly_yes">Yes</label>
                    </div>
                    <div>
                        <input type="radio" id="is-confirmation-too-costly_no" name="is-confirmation-too-costly">
                        <label for="is-confirmation-too-costly_no">No</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="wizard__progress">
            <button class="js-wizard-next">Next question</button>
            <p class="js-wizard-remaining">3 questions remaining</p>
            <div class="progress">
                <div class="progress-bar js-wizard-progress" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="3"></div>
            </div>
        </div>

        <div class="wizard__suggestions">
            <h2>Next steps</h2>
            <ul>
                <li><a href="#">Request an internal review</a></li>
                <li><a href="#">Reply for clarification</a></li>
                <li><a href="#">Refer your request to the Information Commissioner</a></li>
                <li><a href="#">Make a new request</a></li>
                <li><a href="#">Write to your MP</a></li>
            </ul>
        </div>
    </div>

</div>
