.wizard {
    margin: 2rem 0;
}

.wizard__question--future {
    display: none;
}

.wizard__options {
    margin-top: -1rem;

    & > div {
        position: relative;
        padding-left: 1.5rem;
        margin-top: 0.5rem;
    }

    input {
        position: absolute;
        margin: 0.4em 0 0 -1.5em;
    }

    label {
        margin: 0;
        color: inherit;
    }
}

.wizard__options--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.wizard__progress {
    display: flex;
    align-items: center;

    button {
        margin-right: auto;
        margin-bottom: 0;
    }

    p {
        color: #666;
        margin: 0 1rem;
    }
}

.progress {
    display: flex;
    height: 0.75rem;
    border-radius: 0.75rem;
    min-width: 15em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: #008CBA;
    transition: width 0.6s ease;
}
