.wizard__question--past {
  color: #666;

  fieldset {
    border-color: #eee;
  }

  legend {
    font-weight: inherit;
  }
}

.wizard__progress {
  p {
    color: #666;
  }
}

.wizard-prototype-hint {
  display: inline-block;
  padding: 0 0.3em;
  margin: 0 -0.3em;
  background-color: rgba(255, 255, 0, 0.2);
}
